@import './variables';
@import './resets';
@import './navbar';
@import './ProductImage';
@import './ProductDetails';
@import './lightbox';
@import './profile';
@import './cart';

.App {
  margin-block: 1em;
}

.container {
  width: 85%;
  max-width: 1440px;
  margin-inline: auto;
}

@media (min-width: 800px) {
  .product-all {
    display: flex;
    max-width: 1440px;
    width: 75%;
    margin-inline: auto;
  }
}